_Progetto_/Freeboard/.node-red/flows_raspberrypi.json
[{"id":"7e79a05e.c5189","type":"tab","label":"Flow 1"},{"id":"7c6aa24b.9519cc","type":"mqtt-broker","z":"","broker":"192.168.1.151","port":"1883","clientid":"prova_NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"63f541c1.3ef","type":"debug","z":"7e79a05e.c5189","name":"Info","active":true,"console":"false","complete":"payload","x":607.10009765625,"y":533.8001098632812,"wires":[]},{"id":"6ea2bb9a.961524","type":"mqtt in","z":"7e79a05e.c5189","name":"Weather","topic":"weather/forecast","qos":"0","broker":"7c6aa24b.9519cc","x":365.1000099182129,"y":130.8000659942627,"wires":[["58d23717.badd88"]]},{"id":"58d23717.badd88","type":"freeboard","z":"7e79a05e.c5189","name":"weather","x":606.1002349853516,"y":128.80008125305176,"wires":[]},{"id":"170a08ca.e6aef7","type":"inject","z":"7e79a05e.c5189","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":209.10000610351562,"y":342.8000183105469,"wires":[["88a2c8ca.303948"]]},{"id":"88a2c8ca.303948","type":"exec","z":"7e79a05e.c5189","command":"curl -i -H \"Accept: application/json\" -H \"Content-Type: application/json\" http://192.168.1.73:8080/res_cat/weather_adaptor","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":758.1000366210938,"y":302.300048828125,"wires":[["b54e657a.7d96d8","54a49346.95bb7c"],[],[]]},{"id":"b54e657a.7d96d8","type":"function","z":"7e79a05e.c5189","name":"Latitude","func":"var pattern = \"latitude\"\nstr = msg.payload;\nstr = str.substr(str.indexOf(pattern)+pattern.length+2);\n//str = str.substring(str.indexOf(\":\")+2);\nmsg.payload = str.split(\",\")[0];\nreturn msg;","outputs":1,"noerr":0,"x":1339.1000862121582,"y":208.80005836486816,"wires":[["fc2bcbd8.0ec2f8"]]},{"id":"1ff5632b.103cad","type":"function","z":"7e79a05e.c5189","name":"Longitude","func":"var pattern = \"longitude\"\nstr = msg.payload;\nstr = str.substr(str.indexOf(pattern));\nstr = str.substring(str.indexOf(\":\")+2);\nmsg.payload = str.split(\"}\")[0];\nreturn msg;","outputs":1,"noerr":0,"x":1334.500144958496,"y":311.80002307891846,"wires":[[]]},{"id":"fc2bcbd8.0ec2f8","type":"freeboard","z":"7e79a05e.c5189","name":"Latitude","x":1568,"y":176,"wires":[]},{"id":"e7bd39f9.52f238","type":"freeboard","z":"7e79a05e.c5189","name":"Longitude","x":1546,"y":346,"wires":[]},{"id":"cedb5013.4ebf3","type":"mqtt in","z":"7e79a05e.c5189","name":"sensorHumTemp","topic":"sensor/subnet/1/hum_temp","qos":"0","broker":"7c6aa24b.9519cc","x":321,"y":471.0000066757202,"wires":[["63f541c1.3ef","e9728781.707208"]]},{"id":"873fc43c.063458","type":"freeboard","z":"7e79a05e.c5189","name":"humTemp","x":843,"y":412,"wires":[]},{"id":"e5858982.f9ff18","type":"mqtt in","z":"7e79a05e.c5189","name":"withdraw_pump","topic":"actuator/subnet/1/in_pump","qos":"2","broker":"7c6aa24b.9519cc","x":331,"y":629,"wires":[["b95cc412.28c5a8"]]},{"id":"9998b4f6.dcbcb8","type":"mqtt in","z":"7e79a05e.c5189","name":"irrigation_pump","topic":"actuator/subnet/1/out_pump","qos":"2","broker":"7c6aa24b.9519cc","x":327,"y":738,"wires":[["b99d64b7.5c2178"]]},{"id":"b95cc412.28c5a8","type":"freeboard","z":"7e79a05e.c5189","name":"in_pump","x":601,"y":623,"wires":[]},{"id":"b99d64b7.5c2178","type":"freeboard","z":"7e79a05e.c5189","name":"out_pump","x":605,"y":736,"wires":[]},{"id":"e9728781.707208","type":"json","z":"7e79a05e.c5189","name":"","x":607,"y":469,"wires":[["873fc43c.063458"]]},{"id":"54a49346.95bb7c","type":"function","z":"7e79a05e.c5189","name":"Longitude","func":"var pattern = \"longitude\"\nstr = msg.payload;\nstr = str.substr(str.indexOf(pattern)+pattern.length+2);\n//str = str.substring(str.indexOf(\":\")+2);\nmsg.payload = str.split(\",\")[0];\nreturn msg;","outputs":1,"noerr":0,"x":1334,"y":266,"wires":[["e7bd39f9.52f238"]]}]